{{ define "main" }}
<head>
    <title>
        {{ .Site.Title }}
    </title>
    <link rel="icon" href="/img/train95.ico">
    <meta charset="utf-8">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="thoughts on putting ai to the fullest possible use">
    {{ partial "flow.min.html" . }}
</head>
<body>
    <div id="wrapper">
        {{ partial "navbar.html" }}
        <div id="bay">
            <object data="{{ "img/bay.svg" | relURL }}" type="image/svg+xml"></object>
        </div>
        <div id="mast">
            <div id="title">
                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                <div id="subtitle">
                    {{ .Site.Params.subtitle }}
                </div>
            </div>
            <div>
                <h1>{{ .Site.Params.blogtitle }}</h1>
            </div>
            <div style="text-align: center;">
                <h2>{{ .Site.Params.description }}</h2>
            </div>
        </div>
        <div id="content">
            <ul id="posts" style="list-style-type: none">
            {{ range where .Site.RegularPages "Type" "posts"}}
                <li>
                    <h3 class="date">{{.Date.Format "Jan022006"}}</h3>
                    <a href="{{.Permalink}}">{{.Params.title}}</a>
                    <div style="margin-left: -2.8em; padding-left: 0px;">
                    {{.Params.excerpt}}
                    </div>
                </li>
            {{ end }}
            </ol>
        </div>
    </div>
</body>
{{ end }}
