{{ define "main" }}
<head>
    <title>
        {{ .Site.Title }}
    </title>
    <link rel="icon" href="/img/train95.ico">
    <meta charset="utf-8">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="thoughts on putting ai to the fullest possible use">
    {{ partial "flow.min.html" . }}
</head>
<body>
    <div id="wrapper">
        {{ partial "navbar.html" }}
        <div id="bay">
            <object data="{{ "img/bay.svg" | relURL }}" type="image/svg+xml"></object>
        </div>
        <div id="mast">
            <div id="title">
                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                <div id="subtitle">
                    {{ .Site.Params.subtitle }}
                </div>
            </div>
        </div>
        </br>
        <div id="content">
            <ul id="posts" style="list-style-type: none">
            {{ range where .Site.RegularPages "Type" "posts"}}
                <li>
                    <div>
                        <div class="postid" style="display: block; float: left; margin-left: -8.5em;">
                            <h3 class="inline">{{.Date.Format "2006-01-02"}}</h3>
                            <a class="inline" href="{{.Permalink}}">{{.Params.title}}</a>
                        </div>
                        <div class="excerpt">
                            {{.Params.excerpt}}
                        </div>
                    </div>
                </li>
            {{ end }}
            </ol>
        </div>
    </div>
</body>
{{ end }}
